<%- include('../includes/head.ejs') %>
  <link rel="stylesheet" href="/css/auth.css">

</head>


<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <div class="container">
                <!-- center -->
                <div class="p-3">
                    <h2 style="text-align: center;">Đăng ký tài khoản</h2>
                    <div class="user-message user-message--error">Error</div>
                     <form action="/signup" method="post">
                        <div class="form-group">
                            <label for="name">Họ tên</label>
                            <input type="text" class="form-control" name = 'name' id="name">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" name="email" id="email">
                        </div>
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="password">Mật Khẩu</label>
                            <input type="password" class="form-control" name="password" id="password">
                          </div>
                          <div class="form-group col-md-6">
                            <label for="password1">Nhập lại mật khẩu</label>
                            <input type="password" class="form-control" name="password1" id="password1">
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="address">Địa chỉ</label>
                          <input type="text" class="form-control" name="address" id="address">
                        </div>
                        <div class="form-row align-items-center">
                          <div class="col-auto my-1">
                            <label class="mr-sm-2" for="gender">Giới tính</label>
                            <select class="custom-select mr-sm-2" name="gender" id="gender">
                              <option selected value="0">Nam</option>
                              <option value="1">Nữ</option>
                            </select>
                          </div>
                        </div>
                        <div style="text-align: center">
                          <button type="submit" class="btn btn-primary mr-3">Ok</button>
                          <button type="button" class="btn btn-danger" id="reset">Reset</button>
                          <a class="btn btn-link" href="#">Đã có tài khoản</a>

                        </div>
                    </form>

                    <!-- <form action="/signup" method="post">
                      <input type="text" name="test">
                      <button type="submit">Click</button>
                    </form> -->
                </div>
        </div> 
    </main>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        $ (document).ready(function() {
          $("#reset").click(function() {
            // name
            $("#name").val('');
            $("#email").val('');
            $("#password").val('');
            $("#password1").val('');
            $("#address").val('');
            $("#gender").val('0');
            
          })
        })
      })
    </script>
<%- include('../includes/end.ejs') %>