<%- include('../includes/head.ejs') %>
</head>

<body>
   <%- include('../includes/navigation.ejs') %>
    <main>
        <div class="container">
                <!-- center -->
                <div class="mt-3">
                    <h1 style="text-align: center;">Sửa user</h1>
                    <div class="user-message user-message--error">Error</div>
                     <form action="/signup" method="post">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="name">Họ tên</label>
                                <input type="text" class="form-control" name = 'name' id="name" placeholder="tên của bạn">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="email">Họ tên</label>
                                <input type="text" class="form-control" name="email" id="email" placeholder="Your Email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input disabled type="password" class="form-control" name="password" id="password" placeholder="your password">
                        </div>
                        <div class="form-group">
                          <label for="address">Address</label>
                          <input type="text" class="form-control" name="address" id="address" placeholder="1234 Main St">
                        </div>
                        <div class="form-row align-items-center">
                          <div class="col-auto my-1">
                            <label class="mr-sm-2" for="gender">Giới tính</label>
                            <select class="custom-select mr-sm-2" name="gender" id="gender">
                              <option selected value="0">Nam</option>
                              <option value="1">Nữ</option>
                            </select>
                          </div>
                          <div class="col-auto my-1">
                            <label class="mr-sm-2" for="position">Quyền sử dụng</label>
                            <select class="custom-select mr-sm-2" name="position" id="position">
                              <option selected value="user">User</option>
                              <option value="admin">Admin</option>
                            </select>
                          </div>
                        </div>
                        <button type="submit" class="btn btn-primary mr-3">Ok</button>
                        <button type="button" class="btn btn-link" id="reset">Reset</button>
                    </form>

                    <!-- <form action="/signup" method="post">
                      <input type="text" name="test">
                      <button type="submit">Click</button>
                    </form> -->
                </div>
        </div> 
    </main>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        $ (document).ready(function() {
          $("#reset").click(function() {
            // name
            $("#name").val('');
            $("#email").val('');
            $("#password").val('');
            $("#password1").val('');
            $("#address").val('');
            $("#gender").val('0');
            $("#position").val('user');
            
          })
        })
      })
    </script>
<%- include('../includes/end.ejs') %>