<%- include('../includes/head.ejs') %>
<style>
    .xsmn form {
        padding: 10px;
    }
</style>
<body>
    <main>
        <%- include('../includes/navigation.ejs') %>
        <h1>Quay số hôm nay</h1>
        <div class="container">
            <div class="row">
                <div class="xsmn col-4">
                    <h3>Xổ số Miền Nam</h3>
                    <!-- form HCM -->
                    <form action="/xsmn/hcm" method="post">
                        <button type="submit" class="btn btn-primary">
                            TP.HCM
                        </button>
                    </form>
                    <!-- form Dong_Nai -->
                    <form action="/xsmn/dn" method="post">
                        <button type="submit" class="btn btn-primary">
                            Đồng Nai
                        </button>
                    </form>
                    <!-- form Can Tho -->
                    <form action="/xsmn/ct" method="post">
                        <button type="submit" class="btn btn-primary">
                            Cần Thơ
                        </button>
                    </form>
                </div>
                <div class="xsmb col-4">
                    <h3>Xổ số Miền Bắc</h3>
                </div>
                <div class="xsmt col-4">
                    <h3>Xổ số Miền Trung</h3>
                </div>
            </div>
        </div>
    </main>
</body>
<%- include('../includes/end.ejs') %>
