<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <div class="container">
        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">XSMB</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">XSMT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/">XSMN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/quay-so">Quay số</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="admin/user">Danh sách User</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <% if(false) { %>
                <li class="nav-item">
                    <a class="nav-link" href="admin/user">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="admin/user">Register</a>
                </li>
                <% } else { %>
                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        id="navbarDropdown"
                        role="button"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                    >
                        <img class="user-image" src="/image/itachi.png" />
                        User
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Tài khoản của tôi</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Đăng xuất</a>
                    </div>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>
