<div class="xscm">
    <h1><a href="/ket-qua-xo-so/mien-bac">XSMB</a></h1>
</div>
<div class="xscm">
    <h1><a href="/ket-qua-xo-so/mien-trung">XSMT</a></h1>
    <ul>
        <li>
            <a href="/xsmt/da-nang">Đà Nẵng</a>
        </li>
        <li>
            <a href="/xsmt/binh-dinh">Bình Định</a>
        </li>
        <li>
            <a href="/xsmt/dak-lak">Dak Lak</a>
        </li>
        <li>
            <a href="/xsmt/gia-lai">Gia Lai</a>
        </li>
        <li>
            <a href="/xsmt/quang-binh">Quảng Bình</a>
        </li>
    </ul>
</div>
<div class="xscm">
    <h1><a href="/ket-qua-xo-so/mien-nam">XSMN</a></h1>
    <ul>
        <li>
            <a href="/xsmn/ho-chi-minh">TP.HCM</a>
        </li>
        <li>
            <a href="/xsmn/dong-nai">Đồng Nai</a>
        </li>
        <li>
            <a href="/xsmn/can-tho">Cần Thơ</a>
        </li>
        <li>
            <a href="/xsmn/binh-duong">Bình Dương</a>
        </li>
        <li>
            <a href="/xsmn/vung-tau">Vũng Tàu</a>
        </li>
        <li>
            <a href="/xsmn/tien-giang">Tiền Giang</a>
        </li>
        <li>
            <a href="/xsmn/dong-thap">Đồng Tháp</a>
        </li>
        <li>
            <a href="/xsmn/long-an">Long An</a>
        </li>
        <li>
            <a href="/xsmn/tay-ninh">Tây Ninh</a>
        </li>
    </ul>
</div>
