<div>
    <h1>XSMB</h1>
</div>
<div>
    <h1>XSMT</h1>
    <ul>
        <li>Đà Nẵng</li>
        <li>Bình Định</li>
        <li>Huế</li>
    </ul>
</div>
<div>
    <h1>XSMN</h1>
    <ul>
        <li>TP.HCM</li>
        <li>Đồng Nai</li>
        <li>Cần Thơ</li>
    </ul>
</div>
