<%- include('./includes/head.ejs') %>
<body>
    <!-- nav -->
    <%- include('./includes/navigation.ejs') %>
    <main class="container p-5">
        <form method="post">
            <div>
                <input name="789" />
                <button>Click</button>
            </div>
            <form>
                <input name="test" />
                <button>Test</button>
            </form>
        </form>
    </main>
</body>
<%- include('./includes/end.ejs') %>
