.user-image {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.backgroud {
  background-color: rgb(200, 206, 212);
  padding: 20px;
  max-height: 100vh;
}
table,
td {
  min-width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
  text-align: center;
}
.form-search {
  background-color: #feffe5;
  padding: 20px;
}
th {
  min-width: 5rem;
}